.DS_Store
/target/
/testbox/
**/target
.idea
.ferri
dev.log
project_resources/testbox/
project_resources/development_resources/
!project_resources/development_resources/logs/
.obsidian
.zed
sandbox
claude-worktree/
gemini-worktree/